!!!
%html
  %head
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %title
  %body
    = render "shared/nav"
    = yield

  = javascript_include_tag 'application', 'data-turbolinks-track' => true

